*{
  box-sizing: border-box;
  font-family: sans-serif;
}

h2, p {
  text-align: center;
}

.svgWrapper{
  font-size: 32pt;
  margin: 0 auto;
  display: block;
}

#chartDiv{
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.statePath{
  stroke: black;
  stroke-opacity: .2;
  cursor: pointer;
}

.statePath:hover{
  stroke-opacity:1;
}

.top10Towns{
  position: relative;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  border: 2px solid rgba(0,0,0,.3);
  border-radius: 20px;
  padding: 3px;
  margin: 0 auto;
}

.top10Towns > tbody > tr{
  line-height: 1.4;
  border:.5px solid rgba(0,0,0,.3);
}

caption{
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 20px;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 rgb(25,25,25);
  background-color: rgba(255,255,255,.95);
  border: .5px dotted rgb(142, 136, 131);
  padding: 5px 10px;
  text-align: center;
  font-size: 1.25em;
  font-family: sans-serif;
  line-height: 1;
}

@media only screen and (min-width: 800px){
  #chartDiv{
    right: auto;
    width: 65%;
    display: inline-block;
  }

  .svgWrapper{
    display: block;
    margin: 0 auto 0 0;
  }

    body > table.top10Towns{
    width: 30%;
    margin: unset;
    display: inline-block;
    vertical-align: top;
  }

  table.top10Towns > * {
    display: table;
    width: 100%;
  }

  table.top10Towns > tbody > tr > td,  table.top10Towns > thead > tr > th{
    width: 50%;
    display: table-cell;
  }
}

